{% block javascripts %}
    <script src="{{asset('assets/js/nav/burgerMenu.js')}}" defer></script>
{% endblock %}
{% block stylesheets %}{% endblock %}
<nav class="navbar nav_link">
    <div class="nav_center">
        <div class="header_nav">
            <h1>
                <a href="{{path('main')}}"><img src="{{asset('images/lordblock_logo.png')}}" alt=""></a>
            </h1>
            {# <a class="title_site" href="{{ path('main') }}"><img src="{{ asset('assets/images/index/logolinkz.png') }}" alt=""></a> #}
        </div>
        <div class="nav_ctn" id="navbarNav">
            <ul class="navbar_nav_ul">
                {% if app.user %}
                    {% if app.user.roles[0] == "ROLE_ADMIN" %}
                        <li class="nav_item_btn">
                            <a href="{{path('admin_index')}}">Admin</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav_item_btn">
                    <a href="{{path('candidature')}}">Candidature</a>
                </li>
                <li class="nav_item_btn">
                    <a href="{{path('portfolio')}}">Portfolio</a>
                </li>
                {% if app.user %}
                    <li class="nav_item_btn prof_dropdown">
                        <a href="{{path('account')}}">Profile</a>
                        <ul class="dropdown">
                            <li><a href="{{path('account')}}">Compte</a></li>
                            {% if app.user %}
                                <li><a href="{{path('account_modif', {id: app.user.id})}}">Paramètres</a></li>
                                <li><a href="{{path('app_logout')}}">Deconnexion</a></li>
                            {% else %}
                                <li><a href="{{path('app_login')}}">Connexion</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% else %}
                    <li class="nav_item_btn">
                        <a href="{{path('app_login')}}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div id="mySidenav" class="sidenav">
            <a id="closeBtn" href="#" class="close">×</a>
            <ul>
                {% if app.user %}
                    {% if app.user.roles[0] == "ROLE_ADMIN" %}
                        <li class="">
                            <a href="{{path('admin_index')}}">Admin</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="">
                    <a href="{{path('candidature')}}">Candidature</a>
                </li>
                <li class="">
                    <a href="{{path('portfolio')}}">Portfolio</a>
                </li>
                {% if app.user %}
                    <li><a href="{{path('account_modif', {id: app.user.id})}}">Paramètres</a></li>
                    <li><a href="{{path('app_logout')}}">Deconnexion</a></li>
                {% else %}
                    <li><a href="{{path('app_login')}}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>

        <a href="#" id="openBtn">
            <span class="burger-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>
    </div>
</nav>
