{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="log_div">
    <form method="post" class="log_post_div">
        <div class="log_form_ctn">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal log_h1">Connexion</h1>
            <div class="login_input_div">
                <label for="inputEmail">Adresse Email</label>
                <input type="email" class="input_log_div" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="login_input_div">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="login_btn_submit" type="submit">
                Sign in
            </button>
        </div>
        
    </form>

    <a class="log_form_ctn_a" href="{{path('register')}}">Créer un compte</a>
</div>

{% endblock %}
