{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="main_accueil_div">
        <div class="acc_ctn">
            <div class="acc_header_main">
                <img src="{{asset('images/fondimage.png')}}" alt="">
                <div class="acc_top">
                    <h1>LordBlock Candidature</h1>
                    <p>Bienvenue sur le site de la LordBlock, une guilde du serveur Spartacube !</p>
                    <p>Pour toute candidature, veuillez cliquer sur ce bouton !</p>
                    <a href="{{path('candidature')}}">Candidature LordBlock</a>
                </div>
            </div>
            <div class="acc_mdd_div">
                <div class="member_acc_list">
                    <h1>Membres de la guilde</h1>
                    <p>Vous aussi vous voulez faire partie de la guilde ?!</p>
                    <p>N'hesitez pas tenter la candidature. Un minimum de niveau de build est éxiger <i class="fa-solid fa-face-smile-wink"></i></p>
                    <div class="nbmember_acc_list">
                        <i class="fa-solid fa-user fa-2x"></i> <p>{{nbMember}} / 100</p>
                    </div>
                    <div class="member_list">
                        {% for membre in membres %}
                            <p>{{membre.pseudo}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="acc_server_url">
                    <img src="{{asset('images/sparta.png')}}" alt="">
                    <h2>Spartacube.fr</h2>
                    <a target="_blank" href="https://discord.gg/H6QwNC3W">Lien discord</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
