{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/vote/votepourcentage.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="main_vote_div">
        <div class="vote_ctn">
            <div class="vote_top_wth">
                <h1>Contribuez au façonnage de la guilde</h1>
                <div class="vote_qst_user">
                    {% if app.user %}
                        {{form_start(form)}}
                        {{form_row(form.question_text)}}
                        <button type="submit">Valider</button>
                        {{form_end(form)}}
                    {% endif %}
                </div>
                <div class="vote_ctn_vot">
                    {% for vote in votes %}
                        <div class="vote_div_card">
                            <h2>{{vote.getQuestionText}}</h2>
                            <div class="vote_choix">
                                {% set idMatch = false %}
                                {% set ouiPourcentage = null %}
                                {% set nonPourcentage = null %}
                                {% for voteC in voteCount %}
                                    {% if voteC.idvote == vote.id %}
                                        {% set idMatch = true %}
                                        {% set ouiPourcentage = voteC.ouiPourcentage %}
                                        {% set nonPourcentage = voteC.nonPourcentage %}
                                    {% endif %}
                                {% endfor %}

                                <div class="vote_back_choix">
                                    <a href="{{ path('voteoui', { idvote: vote.id }) }}" class="{{ idMatch ? 'vote_match' : 'vote_no_match' }} vote_choix" data="{{ouiPourcentage}}">Oui</a>
                                </div>
                                <div class="vote_back_choix">
                                    <a href="{{ path('votenon', { idvote: vote.id }) }}" class="{{ idMatch ? 'vote_match' : 'vote_no_match' }} vote_choix" data="{{nonPourcentage}}">Non</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
