<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LordBlock - {% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/loginregister.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/accueil.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/candidature.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/logreg.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/candidshow.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/portfolio.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/vote.css') }}">
        <link href="https://db.onlinewebfonts.com/c/9978e84b6524e8a7550fb144364be7dc?family=Combi+Sans+W01+SemiBold" rel="stylesheet"> 
        <link href="https://www.dafontfree.net/embed/aXJpc3VwYy1ib2xkJmRhdGEvNDAvaS8xMDMxMzMvVVBDSUIuVFRG" rel="stylesheet" type="text/css"/>
        
        <script src="https://kit.fontawesome.com/d02ac30c3f.js" crossorigin="anonymous"></script>
        <script src="{{asset('assets/js/imgformcandid.js')}}" defer></script>
        <script src="{{ asset('build/jquery.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include "_partials/_nav.html.twig" %}
        {% block body %}{% endblock %}
        {% include "_partials/_footer.html.twig" %}
    </body>
</html>
