{% extends 'base.html.twig' %}

{% block title %}Candidature!{% endblock %}

{% block javascripts %}     
    <script src="{{asset('assets/js/candidext.js')}}" defer></script>
{% endblock %}

{% block body %}
<div class="main_candid_div">
    <h3>{{message}}</h3>
    <div id="error-message" style="display: none;"></div>
    <div class="candid_ctn">
        <div class="candid_top">
            <h1>Candidature pour rejoindre la</h1>
            <h1>- LordBlock -</h1>
        </div>
        <div class="candid_form">
            {{form_start(form)}}
            {{ form_row(form.text) }}
            {{ form_row(form.pseudo_in_game) }}
            <div class="cdd_form_div">
                <label for="">L'url :</label>
                <p>(tu peux y mettre les liens de tes réseaux sociaux, sites de builds ou autres pour contempler tes créations :D)</p>
            </div>
            {{ form_row(form.url) }}
            <div class="cdd_form_div">
                <label for="">Les différentes photos de tes constructions mc* :</label>
                <p class="cdd_f_d_italic">(tu peux cliquer directement sur « Choisir des fichiers » pour nous les présenter !)</p>
            </div>
            {{ form_row(form.productImgs, {'attr': {'id': 'file-upload'}}) }}

            <div class="cdd_form_warning">
                <p>Attention : tous les champs * sont obligatoire pour prendre en compte ta candidature.</p>
            </div>

            {{ form_row(form.submit) }}
            {{form_end(form)}}
        </div>
        <div class="img_previous">
            <div id="imagePreview" class="preview_image"></div>
        </div>
    </div>
</div>
{% endblock %}
