{% extends 'base.html.twig' %}

{% block title %}Candidature!{% endblock %}

{% block javascripts %}     
    <script src="{{asset('assets/js/candidext.js')}}" defer></script>
{% endblock %}

{% block body %}
<div class="main_candid_div">
    <h3>{{message}}</h3>
    <div id="error-message" style="display: none;"></div>
    <div class="candid_ctn">
        <div class="text_candid">
            <p>* ces champs sont obligatoire</p>
        </div>
        <div class="candid_top">
            {% if app.user %}
                <h1>Candidature de {{app.user.email}}</h1>
            {% else %}
                <h1>Candidature pour la LordBlock</h1>
            {% endif %}
        </div>
        <div class="candid_form">
            {{form_start(form)}}
            {{ form_row(form.text) }}
            {{ form_row(form.pseudo_in_game) }}
            {{ form_row(form.url) }}
            {{ form_row(form.productImgs, {'attr': {'id': 'file-upload'}}) }}
            {{ form_row(form.submit) }}
            {{form_end(form)}}
        </div>
        <div class="img_previous">
            <div id="imagePreview" class="preview_image"></div>
        </div>
    </div>
</div>
{% endblock %}
