{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="main_acc_div">
    <div class="acc_wth">
        {% if app.user.pseudo is defined %}
            <h1>Bienvenue {{user.pseudo}}</h1>
        {% else %}
            <h1>Bienvenue {{user.email}}</h1>
        {% endif %}
        <a class="acc_a_modif" href="{{path('account_modif', {id: user.id})}}">Modifier mes informations</a>
        <h2>Tes Candidatures ---></h2>
        {% for candidature in candidatures %}
            <div class="acc_candid_div">
                <div class="candid_header">
                    <h3>Candidature du {{candidature.getDateCandidature|date("d/m/Y")}}</h3>
                </div>
                <div class="candid_body">
                    <p class="acc_card_pseudo">Pour {{candidature.getPseudoInGame}}</p>
                    {% if candidature.status == "En vérification" %}
                        <p class="acc_status">{{candidature.status}}</p>
                    {% elseif candidature.status == "Accepter" %}
                        <p class="acc_status_accepter">{{candidature.status}}</p>
                    {% elseif candidature.status == "Refuser" %}
                        <p class="acc_status_refuser">{{candidature.status}}</p>
                    {% endif %}
                </div>
                <div class="candid_footer">
                    <a href="{{ path('show_candidature', {id: candidature.id}) }}" class="more-link">En voir plus</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
